@charset "euc-kr";

/* Basic Style START (dohoons, 200803, 200908, 201011, 201106, 201305) */
html, body { height:100%; -webkit-text-size-adjust:none; }
body, input, select, button, textarea, h1, h2, h3, h4, h5, h6, table { font:normal 12px/1.5 dotum,"µ¸¿ò",Arial,AppleGothic,Sans-serif; color:#666; }
html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption { margin:0; padding:0; }
ol, ul, li { list-style:none; }
img, fieldset { border:0 none; }
input, select, textarea { vertical-align:middle; resize:none; position:relative; }
input[type=text], input[type=password], input[type=submit], input[type=search], textarea { -webkit-appearance:none; }
button { border:0 none; background:transparent; cursor:pointer; }
hr { display:none; }
legend, .hide { width:0; height:0; visibility:hidden; font-size:0; line-height:0; position:absolute; top:0; left:0; overflow:hidden; }
table caption { width:0; height:0; visibility:hidden; text-indent:-9999px; font-size:0; line-height:0; }
table { border-collapse:collapse; border-spacing:0; }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display:block; }
 
a:link, a:visited { text-decoration:none; color:#666; }
a:active, a:hover, a:focus { text-decoration:underline; }
 
input.basic { height:19px; line-height:19px; padding:0 5px; border:1px solid #cacaca; *margin-top:-1px; _margin-top:-2px; }
textarea.basic { border:1px solid #cacaca; padding:5px; overflow:scroll; overflow-x:hidden; *margin-top:-1px; _margin-top:-2px; }
select.basic { height:21px; }
/* Basic Style END */